# macOS
.DS_Store

# SwiftPM / Build
/.build
/.swiftpm
/DerivedData
xcuserdata/
*.xcuserstate

# Editors
/.vscode
.idea/

# Xcode artifacts
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Playgrounds
*.xcplayground
playground.xcworkspace
timeline.xctimeline

# Carthage
Carthage/Build/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
